*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body{
    line-height: 1.6rem;
}

h1{
    font-size: 4rem;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    color: white;
    background-color: black;
    padding: 3rem;
}

img{
   padding: 1rem;
}

.head_container{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text1{
    display: block;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 1rem;
    margin-bottom: 4rem;
    background-color: white;
    position: relative;
    animation: text 3s 1;
}

.text2{
    display: block;
    font-weight: 600;
    font-size: 2rem;
    color: #6ab04c;
    letter-spacing: 4px;
}

@keyframes text{
    0%{
        color: white;
        margin-bottom: -1.6rem;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -1.6rem;
    }
    80%{
        letter-spacing: 8px;
        margin-bottom: -1.6rem;
    }
}

.theme_container{
   position: absolute;
   bottom: -45vh;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-top: 1%;
}

.cards{
    margin: 2%;
    padding: 5%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.cards > img{
    max-width: 30vw;
    max-height: 40vh;
}

h3{
    text-decoration: underline;
    padding: 1px;
    font-size: 1.5rem;
}

p{
    padding: 2px;
    font-size: 1.1rem;
}

.anchor{
    margin-top: 5%;
    padding: 2% 3%;
    color: white;
    background-color: #0CF214;
    cursor: pointer;
    font-size: 1.25rem;
    border:none;
    border-radius: 5px;
}

.anchor:hover{
    background-color: #00DB46;
}

footer{
    position: absolute;
    top: 150%;
    background-color: black;
    color: white;
    width: 100%;
}

h2{
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}